.app {
  text-align: center;
	height: 100vh;
	width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
	user-select: none;
}

.game {
	display: flex;
	justify-content: space-between;
	width: 100vmin;
	height: 100vmin;
}

@media screen and (min-width: 400px) {
	.game {
		width: 90vmin;
		height: 90vmin;
	}
}

@media screen and (min-width: 500px) {
	.game {
		width: 80vmin;
		height: 80vmin;
	}
}

@media screen and (min-width: 600px) {
	.game {
		width: 70vmin;
		height: 70vmin;
	}
}