.controls {
  font-size: 0.85rem;
}

.controls .buttons {
  height: 15%;
}

.controls .buttons .choose-tab-button {
  background-color: initial;
  box-shadow: initial;
  border-radius: 0;
  font-size: 0.9em;
}

.controls .buttons button:nth-of-type(1).active {
  border-right: 1px solid grey;
  border-bottom-right-radius: 5px;
}

.controls .buttons button:nth-of-type(2).active {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.controls .buttons button:nth-of-type(3).active {
  border-left: 1px solid grey;
  border-bottom-left-radius: 5px;
}

.controls .buttons .active {
  border-bottom: 1px solid grey;
  font-weight: bold;
}

.controls .instructions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding-top: 1rem;
}

.controls .instructions .instruction-item {
  display: flex;
  align-items: center;
  padding: 0 2rem 1rem 2rem;
}

.controls .instructions .icons-container {
  display: flex;
  min-width: 60px;
  margin-right: 2rem;
}

.controls .instructions .icon {
  margin: auto;
}

.controls .instructions .action {
  text-align: left;
}

@media screen and (min-width: 400px) and (min-height: 400px) {
  .controls {
    font-size: 1rem;
  }
}

@media screen and (min-width: 500px) and (min-height: 500px) {
  .controls {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 700px) and (min-height: 700px) {
  .controls {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1000px) and (min-height: 1000px) {
  .controls {
    font-size: 1.7rem;
  }
}
