.dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  background: transparent;
  width: 100vmin;
  height: 100vmin;
  border-radius: 20px;
  margin: -50vmin 0 0 -50vmin;
  filter: none;
}

.dialog .component {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 90%;
  margin: 5% auto;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  background: linear-gradient(
    rgba(207, 218, 212, 0.95) 15%,
    rgba(119, 113, 113, 0.95) 15%
  );
  border-radius: 1rem;
}

@media screen and (min-width: 400px) and (min-height: 400px) {
  .dialog .component {
    width: 70%;
    height: 80%;
    margin: 10% auto;
  }
}

@media screen and (min-width: 500px) and (min-height: 500px) {
  .dialog .component {
    width: 60%;
    height: 70%;
    margin: 15% auto;
  }
}

@media screen and (min-width: 600px) and (min-height: 600px) {
  .dialog .component {
    width: 50%;
    height: 60%;
    margin: 20% auto;
  }
}
