.field {
  background: black;
  width: 150px;
  flex: 0 0 auto;
  height: 250px;
  margin-right: 1rem;
  transition: width 2s, height 2s;
}

@media (min-width: 450px) {
  .field {
    width: 225px;
    height: 375px;
  }
}

@media (min-width: 600px) {
  .field {
    width: 300px;
    height: 500px;
  }
}
