.game-result {
  font-size: 1.2rem;
}

.game-result .header {
  height: 15%;
}

.game-result button {
  width: fit-content;
  align-self: center;
  font-size: 1rem;
}

.game-result .data {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;
}

.game-result .data p {
  margin: 0.5rem;
}

.game-result .data span {
  margin-right: 0.5rem;
}

@media screen and (min-width: 400px) and (min-height: 400px) {
  .game-result {
    font-size: 1.4rem;
  }

  .game-result button {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 500px) and (min-height: 500px) {
  .game-result {
    font-size: 1.6rem;
  }

  .game-result button {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 600px) and (min-height: 600px) {
  .game-result {
    font-size: 1.8rem;
  }
  .game-result button {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 700px) and (min-height: 700px) {
  .game-result {
    font-size: 2rem;
  }

  .game-result button {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1000px) and (min-height: 1000px) {
  .game-result {
    font-size: 2.2rem;
  }

  .game-result button {
    font-size: 1.8rem;
  }
}
