@import url('https://fonts.googleapis.com/css?family=Asap+Condensed&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Asap Condensed', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
}

button {
  cursor: pointer;
  background: #8bd82a;
  padding: 5px;
  border: 0;
  box-shadow: 0 0 7px 0 black;
  border-radius: 5px;
}

button:hover {
  background: #269c26;
}

button:focus {
  outline: none;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: bold;
}
