.login {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 90%;
  margin: 5% auto;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  background: linear-gradient(
    rgba(207, 218, 212, 0.95) 15%,
    rgba(119, 113, 113, 0.95) 15%
  );
  border-radius: 1rem;
  font-size: 1rem;
}

.login .header {
  height: 15%;
  font-size: 1.2em;
}

.login .description {
  font-size: 0.8em;
  padding: 1rem 2rem;
  text-align: left;
}

.login input {
  width: 80%;
  height: 2rem;
  font-size: 1.5em;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.3rem;
  border: 0;
  font-family: monospace;
  margin-bottom: 0.2rem;
}

.login input:focus {
  outline: 0;
  box-shadow: 0 0 0.5rem;
}

.login .warning {
  font-size: 0.7em;
}

.login button[type="submit"] {
  margin-top: 1rem;
  font-size: 1.3em;
}

.login button[type="submit"].disabled {
  color: #343c44;
  background: #b9aaaa;
  cursor: initial;
}

.login .message {
  margin-top: auto;
  font-size: 1.3em;
  color: #443e3e;
}

@media screen and (min-width: 400px) and (min-height: 400px) {
  .login {
    width: 70%;
    height: 80%;
    margin: 10% auto;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 500px) and (min-height: 500px) {
  .login {
    width: 60%;
    height: 70%;
    margin: 15% auto;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 600px) and (min-height: 600px) {
  .login {
    width: 50%;
    height: 60%;
    margin: 20% auto;
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 700px) and (min-height: 700px) {
  .login {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1000px) and (min-height: 1000px) {
  .login {
    font-size: 1.5rem;
  }
}
